.character-summary-container
  label Name:
    input(name="attr_character_name", type="text")

  label Race:
    input(name="attr_character_race", type="text")

  label XP Available:
    input(name="attr_character_xp_available", type="number")

  label XP Used:
    input(name="attr_character_xp_used", type="number")

  label Level:
    input(name="attr_character_level", type="number", value="0", disabled)

  label Resolve:
    input(name="attr_character_resolve", type="number", value="0", disabled)

  label Evasion:
    input(name="attr_character_evasion", type="number", value="0", disabled)

  label Initiative:
    input(name="attr_character_initiative", type="number", value="0", disabled)

  label Speed:
    input(name="attr_character_speed", type="number", value="0", disabled)
