// Tab Selector
input#tab-selector(type="hidden", name="attr_sheet_tab", value="overview-tab")
div
  button(type="action", name="act_overviewtab") Overview
  button(type="action", name="act_spellstab") Spells
  button(type="action", name="act_configurationtab") Configuration

// Include individual tab pages
#overview-tab
  include ./overview/overview

#spells-tab
  include ./spells/spells

#configuration-tab
  include ./configuration/configuration
